img {
	max-width: 26.925rem;
}

.Project-flex-contain {
	display: flex;
	justify-content: center;
	max-width: 90%;
	padding-left: 5%;
}

.Project-container {
	height: 36.45rem;
	border: 0.45px solid #cfc6b0;
	margin-top: 2rem;
	/* padding: 0.5rem; */
}

.Project-info {
	text-align: left;
	margin-top: 2.8rem;
}

.Project-img {
	padding: 0.3rem;
}

.Project-reverse;
